<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="LOG_LEVEL_ROOT" source="LOG_LEVEL_ROOT" defaultValue="INFO"/>
    <springProperty scope="context" name="LOG_LEVEL_HTTP" source="LOG_LEVEL_HTTP" defaultValue="INFO"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - requestId=%X{requestId} %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Access log (см. WebMvcLoggingConfig) -->
    <logger name="http.access" level="${LOG_LEVEL_HTTP}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.hibernate.SQL" level="WARN"/>

    <root level="${LOG_LEVEL_ROOT}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
